table {
  width: 100%;
}

mat-spinner {
  margin: 1rem auto;
}

tr.mat-footer-row {
  font-weight: bold;
}

tr.detail-row {
  height: 0;
}

tr.item-row:not(.expanded-row):hover {
  cursor: pointer;
}

tr.item-row:not(.expanded-row):active {
  background: #efefef;
}

.item-row td {
  border-bottom-width: 0;
}

.item-detail {
  overflow: hidden;
}

.item-diagram {
  border: 1px solid lightgray;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
}

.truncate-cell {
  max-width: 7rem;
  padding-right: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-img-container {
  display: flex;

  .text-container {
    flex-grow: 3;
  }

  .img-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  img {
    border-radius: 8px;
    margin: 1rem;
  }
}

.isAnOfflineDoc {
  opacity: 0.5;
}
