<form [formGroup]="addItemForm">
  <h1 mat-dialog-title>
    {{
      item
        ? "Modifier cet article dans le stock"
        : "Ajouter un article dans le stock"
    }}
  </h1>
  <mat-divider />
  <div class="dilog-content" mat-dialog-content>
    <mat-stepper orientation="vertical" linear #stepper>
      <mat-step
        [completed]="imageUrls().length !== 0 || item !== null"
        label="Uploader les images de l'article"
      >
        <app-image-picker
          [imagesUrls]="item ? item.imgUrls : []"
          *ngIf="isOnline | async"
        />
        <p *ngIf="!(isOnline | async)" align="center">
          Veuillez vous connecter sur internet pour ajouter les images
        </p>
        <div
          class="actions"
          align="end"
          *ngIf="imageUrls().length !== 0 || item"
        >
          <button mat-flat-button matStepperNext color="primary">
            Suivant
          </button>
        </div>
      </mat-step>
      <mat-step [stepControl]="addItemForm" label="Les informations du matos"
        ><div class="fied-in-row margin-top">
          <mat-form-field appearance="outline" *ngIf="!item">
            <mat-label>Identifiant</mat-label>
            <input matInput placeholder="Ex: Item000457" formControlName="id" />
            <mat-spinner
              matSuffix
              strokeWidth="2"
              diameter="20"
              *ngIf="addItemForm.controls.id.pending"
            ></mat-spinner>
            <mat-error
              *ngIf="
                addItemForm.controls.id.hasError('alreadyExist') &&
                !addItemForm.controls.id.hasError('required')
              "
            >
              Ce code est déjà attribué
            </mat-error>
            <mat-error *ngIf="addItemForm.controls.id.hasError('required')"
              >le code est obligatoire</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" [class.width-full]="item">
            <mat-label>Nom de l'article</mat-label>
            <input
              matInput
              placeholder="Ex: Dell Latitude E7270"
              formControlName="title"
              #input
              maxlength="25"
            />
            <mat-hint align="end">{{ input.value.length || 0 }}/25</mat-hint>
            <mat-error *ngIf="addItemForm.controls.title.hasError('required')">
              Le nom de l'article
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="width-full">
          <mat-label>Déscription</mat-label>
          <textarea
            matInput
            placeholder="Plus d'informations sur l'article"
            formControlName="description"
          ></textarea>
          <mat-error
            *ngIf="addItemForm.controls.description.hasError('required')"
          >
            Déscrivez cet article
          </mat-error>
        </mat-form-field>

        <div class="fied-in-row">
          <mat-form-field appearance="outline">
            <mat-label>Prix d'achat (PA)</mat-label>
            <input
              matInput
              placeholder="Ex: 20$"
              formControlName="purchasePrice"
            />
            <mat-error
              *ngIf="addItemForm.controls.purchasePrice.hasError('required')"
            >
              Le prix d'achat svp
            </mat-error>
            <mat-error
              *ngIf="
                addItemForm.controls.purchasePrice.hasError('pattern') &&
                !addItemForm.controls.purchasePrice.hasError('required')
              "
            >
              Entrez les chiffres
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Prix de vente (PV)</mat-label>
            <input
              matInput
              placeholder="Ex: 30$"
              formControlName="sellingPrice"
            />
            <mat-error
              *ngIf="addItemForm.controls.sellingPrice.hasError('required')"
            >
              Le prix d'achat svp
            </mat-error>
            <mat-error
              *ngIf="
                addItemForm.controls.sellingPrice.hasError('pattern') &&
                !addItemForm.controls.sellingPrice.hasError('required')
              "
            >
              Entrez les chiffres
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="width-full">
          <mat-label>Prix de réduction (Discount)</mat-label>
          <input
            matInput
            placeholder="Ex: 15$"
            formControlName="discountPrice"
          />
          <mat-error
            *ngIf="addItemForm.controls.discountPrice.hasError('pattern')"
          >
            Entrez les chiffres
          </mat-error>
        </mat-form-field>

        <div class="fied-in-row">
          <mat-form-field appearance="outline">
            <mat-label>Categorie de l'article</mat-label>
            <mat-select
              formControlName="category"
              placeholder="Sélectionnez une categorie"
            >
              <mat-option
                *ngFor="let catergory of categories$ | async"
                [value]="catergory"
              >
                {{ catergory["title"] }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="addItemForm.controls.category.hasError('required')"
              >Séléctionnez une option</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Unité de mésure</mat-label>
            <mat-select
              formControlName="unit"
              placeholder="Sélectionnez une unité de mèsure"
            >
              <mat-option value="Piece"> Piece </mat-option>
              <mat-option value="Mètre"> Mètre </mat-option>
              <mat-option value="Litre"> Litre </mat-option>
              <mat-option value="Kg"> Kilogramme </mat-option>
            </mat-select>
            <mat-error *ngIf="addItemForm.controls.unit.hasError('required')"
              >Séléctionnez une option</mat-error
            >
          </mat-form-field>
        </div>

        <div class="fied-in-row">
          <mat-form-field appearance="outline">
            <mat-label>Quantité</mat-label>
            <input matInput placeholder="Ex: 50" formControlName="quantity" />
            <mat-error
              *ngIf="addItemForm.controls.quantity.hasError('required')"
            >
              Un nombre d'article svp !
            </mat-error>
            <mat-error
              *ngIf="
                addItemForm.controls.quantity.hasError('pattern') &&
                !addItemForm.controls.quantity.hasError('required')
              "
            >
              Entrez les chiffres
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Stock de sécurité</mat-label>
            <input matInput placeholder="Ex: 1" formControlName="satetyStock" />
            <mat-error
              *ngIf="addItemForm.controls.satetyStock.hasError('required')"
            >
              Le stock de sécurité Svp
            </mat-error>
            <mat-error
              *ngIf="
                addItemForm.controls.satetyStock.hasError('pattern') &&
                !addItemForm.controls.satetyStock.hasError('required')
              "
            >
              Entrez les chiffres
            </mat-error>
          </mat-form-field>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <mat-divider />
  <div class="actions" align="end" mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close>Annuler</button>
    <button
      mat-flat-button
      mat-dialog-close
      color="primary"
      [disabled]="
        addItemForm.invalid || addItemForm.controls.id.pending || isDisabledBtn
      "
      (click)="onSubmit()"
    >
      Enregistrer
    </button>
  </div>
</form>
