<form [formGroup]="addItemForm">
  <h1 mat-dialog-title>Ajouter un article dans le stock</h1>
  <mat-divider />
  <div class="dilog-content" mat-dialog-content>
    <mat-stepper orientation="vertical" linear #stepper>
      <mat-step
        [completed]="imageUrls().length > 1"
        label="Uploader les images de l'article"
      >
        <app-image-picker *ngIf="isOnline | async" />
        <p *ngIf="!(isOnline | async)" align="center">
          Veuillez vous connecter sur internet pour ajouter les images
        </p>
        <div class="actions" align="end" *ngIf="imageUrls().length > 1">
          <button mat-flat-button matStepperNext color="primary">
            Suivant
          </button>
        </div>
      </mat-step>
      <mat-step [stepControl]="addItemForm" label="Les informations du matos"
        ><div class="fied-in-row">
          <mat-form-field appearance="outline">
            <mat-label>Identifiant</mat-label>
            <input matInput placeholder="Ex: Item000457" formControlName="id" />
            <mat-spinner
              matSuffix
              strokeWidth="2"
              diameter="20"
              *ngIf="id?.pending"
            ></mat-spinner>
            <mat-error
              *ngIf="
                id?.errors?.['alreadyExist'] &&
              !id?.errors?.['required']
            "
            >
              Ce code est déjà attribué
            </mat-error>
            <mat-error *ngIf="id?.errors?.['required']"
              >le code est obligatoire</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Nom de l'article</mat-label>
            <input
              matInput
              placeholder="Ex: Dell Latitude E7270"
              formControlName="title"
            />
            <mat-error *ngIf="title?.errors?.['required']">
              Le nom de l'article
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="description-field">
          <mat-label>Déscription</mat-label>
          <textarea
            matInput
            placeholder="Veuillez donner plus d'informations du matos"
            formControlName="description"
          ></textarea>
          <mat-error *ngIf="description?.errors?.['required']">
            Détaillez cet article
          </mat-error>
        </mat-form-field>

        <div class="fied-in-row">
          <mat-form-field appearance="outline">
            <mat-label>Prix d'achat (PA)</mat-label>
            <input
              matInput
              placeholder="Ex: 20$"
              formControlName="purchasePrice"
            />
            <mat-error *ngIf="purchasePrice?.errors?.['required']">
              Le prix d'achat svp
            </mat-error>
            <mat-error
              *ngIf="
              purchasePrice?.errors?.['pattern'] && !purchasePrice?.errors?.['required']
              "
            >
              Entrez les chiffres
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Prix de vente (PV)</mat-label>
            <input
              matInput
              placeholder="Ex: 30$"
              formControlName="sellingPrice"
            />
            <mat-error *ngIf="sellingPrice?.errors?.['required']">
              Le prix d'achat svp
            </mat-error>
            <mat-error
              *ngIf="
                sellingPrice?.errors?.['pattern'] && !sellingPrice?.errors?.['required']
              "
            >
              Entrez les chiffres
            </mat-error>
          </mat-form-field>
        </div>

        <div class="fied-in-row">
          <mat-form-field appearance="outline">
            <mat-label>Prix de réduction (Discount)</mat-label>
            <input
              matInput
              placeholder="Ex: 15$"
              formControlName="discountPrice"
            />
            <mat-error
              *ngIf="
              discountPrice?.errors?.['pattern']
              "
            >
              Entrez les chiffres
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Categorie de l'article</mat-label>
            <mat-select
              formControlName="category"
              placeholder="Sélectionnez une categorie"
            >
              <mat-option
                *ngFor="let catergory of categories$ | async"
                [value]="catergory"
              >
                {{ catergory["title"] }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="category?.hasError('required')"
              >Séléctionnez une option</mat-error
            >
          </mat-form-field>
        </div>

        <div class="fied-in-row">
          <mat-form-field appearance="outline">
            <mat-label>Quantité</mat-label>
            <input matInput placeholder="Ex: 5" formControlName="quantity" />
            <mat-error *ngIf="quantity?.errors?.['required']">
              Un nombre d'article svp !
            </mat-error>
            <mat-error
              *ngIf="
              quantity?.errors?.['pattern'] && !quantity?.errors?.['required']
              "
            >
              Entrez les chiffres
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Stock de sécurité</mat-label>
            <input matInput placeholder="Ex: 1" formControlName="satetyStock" />
            <mat-error *ngIf="satetyStock?.errors?.['required']">
              Le stock de sécurité Svp
            </mat-error>
            <mat-error
              *ngIf="
              satetyStock?.errors?.['pattern'] && !satetyStock?.errors?.['required']
              "
            >
              Entrez les chiffres
            </mat-error>
          </mat-form-field>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <mat-divider />
  <div class="actions" align="end" mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close>Annuler</button>
    <button
      mat-flat-button
      mat-dialog-close
      color="primary"
      [disabled]="addItemForm.invalid || id?.pending || isDisabledBtn"
      (click)="onSubmit()"
    >
      Enregistrer
    </button>
  </div>
</form>
